#dropdown_SkypeButton_Call{
  color: black !important;
  border-color: black !important;
  margin: auto !important;

  position: relative !important;
}

#dropdown_SkypeButton_Call li a{
  color: black !important;
}

#SkypeButton_Call_paraElement a {
  color: black;
}
